﻿@font-face {
  font-family: 'OpenSansCond-Light';
  src: url('../fonts/opensanscondensed/OpenSansCond-Light.eot');
  src: url('../fonts/opensanscondensed/OpenSansCond-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensanscondensed/OpenSansCond-Light.woff2') format('woff2'),
       url('../fonts/opensanscondensed/OpenSansCond-Light.woff') format('woff'),
       url('../fonts/opensanscondensed/OpenSansCond-Light.ttf') format('truetype'),
       url('../fonts/opensanscondensed/OpenSansCond-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCond-LightItalic';
  src: url('../fonts/opensanscondensed/OpenSansCond-LightItalic.eot');
  src: url('../fonts/opensanscondensed/OpenSansCond-LightItalic.eot?#iefix') format('embedded-opentype')
       url('../fonts/opensanscondensed/OpenSansCond-LightItalic.woff2') format('woff2'),
       url('../fonts/opensanscondensed/OpenSansCond-LightItalic.woff') format('woff'),
       url('../fonts/opensanscondensed/OpenSansCond-LightItalic.ttf') format('truetype'),
       url('../fonts/opensanscondensed/OpenSansCond-LightItalic.svg#OpenSansLight-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCond-Bold';
  src: url('../fonts/opensanscondensed/OpenSansCond-Bold.eot');
  src: url('../fonts/opensanscondensed/OpenSansCond-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensanscondensed/OpenSansCond-Bold.woff2') format('woff2'),
       url('../fonts/opensanscondensed/OpenSansCond-Bold.woff') format('woff'),
       url('../fonts/opensanscondensed/OpenSansCond-Bold.ttf') format('truetype'),
       url('../fonts/opensanscondensed/OpenSansCond-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}