﻿@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.eot');
  src: url('../fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Regular.woff') format('woff'),
       url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-Regular.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/opensans/OpenSans-Light.eot');
  src: url('../fonts/opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Light.woff') format('woff'),
       url('../fonts/opensans/OpenSans-Light.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('../fonts/opensans/OpenSans-LightItalic.eot');
  src: url('../fonts/opensans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype')
       url('../fonts/opensans/OpenSans-LightItalic.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-LightItalic.woff') format('woff'),
       url('../fonts/opensans/OpenSans-LightItalic.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-LightItalic.svg#OpenSansLight-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/opensans/OpenSans-Semibold.eot');
  src: url('../fonts/opensans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
  src: url('../fonts/opensans/OpenSans-Semibold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Semibold.woff') format('woff'),
       url('../fonts/opensans/OpenSans-Semibold.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: url('../fonts/opensans/OpenSans-SemiboldItalic.eot');
  src: url('../fonts/opensans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/OpenSans-SemiboldItalic.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-SemiboldItalic.woff') format('woff'),
       url('../fonts/opensans/OpenSans-SemiboldItalic.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
       ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/opensans/OpenSans-Bold.eot');
  src: url('../fonts/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Bold.woff') format('woff'),
       url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('../fonts/opensans/OpenSans-BoldItalic.eot');
  src: url('../fonts/opensans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/OpenSans-BoldItalic.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-BoldItalic.woff') format('woff'),
       url('../fonts/opensans/OpenSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/opensans/OpenSans-ExtraBold.eot');
  src: url('../fonts/opensans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/OpenSans-ExtraBold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-ExtraBold.woff') format('woff'),
       url('../fonts/opensans/OpenSans-ExtraBold.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-ExtraBold.svg#OpenSans-Extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src: url('../fonts/opensans/OpenSans-ExtraBoldItalic.eot');
  src: url('../fonts/opensans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/opensans/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('../fonts/opensans/OpenSans-Italic.eot');
  src: url('../fonts/opensans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/OpenSans-Italic.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Italic.woff') format('woff'),
       url('../fonts/opensans/OpenSans-Italic.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}