﻿* {
    font-family: 'OpenSans-Light';
    font-size: 13px;
}

body {
    background-color: #777;
}


section {
    /*
    padding-left:50px;
    padding-right:50px;
    */
}

li { padding-bottom: 3px; }

.red-text { color: #d11141; } /* -webkit-print-color-adjust: exact; } */
.green-text { color: #00b159; } /*  color: rgb(0,177,89); } */
.blue-text { color: #00aedb; } /*  color: rgb(0,174,219); -webkit-print-color-adjust: exact;} */
.orange-text { color: #f37735; } /*  color: rgb(243,119,53); } */
.yellow-text{ color: #ffc425; } /*  color: rgb(243,119,53); } */

.fa-linkedin-square { color: #1E87BD; } /* color: rgb(30,151,189);  } */

.container-fluid {
    max-width: 960px;
    padding: 35px !important;
    background-color: #fff;
}

.tmpSpacer { width:100%;height:40px;}

.cat {
    width: 100%;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    color: #00aedb;
    -webkit-print-color-adjust: exact;
    padding-bottom: 4px;
    border-bottom: 1px solid #00aedb;
}
.cat>i {
    padding-right: 8px;
}

.td-info { padding:4px !important; font-size: 13px;}
.info-title { }
.info-icon { font-size: 14px; }
.info-data {
    font-family: 'OpenSans-Regular';
}

.col {

}


.job-row{ padding-top: 4px; padding-bottom: 4px;}
.artExp:last-child>div.job-row { border: none; }
.job-top { }
.job-bottom { }
.job-company { font-family: 'OpenSans-Bold'; font-size: 15px; }
.job-title { font-family: 'OpenSans-Regular'; font-size: 15px; }
.job-date { }
.job-ul { list-style-type:none; }
.job-li { font-size: 13px; }
.tblInfo>tbody>tr:first-child>td { border: none; }

#headSkills { margin-bottom:10px; }

.row-skillsets { }
.art-skillset { }
.skillset-header { font-family: OpenSans-Regular; font-size:14px; }
.skillset-icon { padding-right:4px; }

.skill-ul {
    list-style-type:none;
    list-style:none;
    padding:0;
}

.skill-li {
    
    padding-left: 8px;
}

/*@page {
    size: A4;
    margin: 0;
}*/
@media print {
 
    body { width: 960px; }
    li { padding-bottom: 0px;}
    #secLogo { }

    .red-text { color: #d11141; color: rgb(209,17,65); }
    .green-text { color: #00b159; color: rgb(0,177,89); }
    .blue-text, .cat { color: #00aedb; color: rgb(0,174,219); }
    .orange-text { color: #f37735; color: rgb(243,119,53); }
    .yellow-text{ color: #ffc425; color: rgb(243,119,53); }   

    .tmpSpacer { width:100%; height:0px; }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }

    .col-sm-12, .col-md-12 { width: 100%; }
    .col-sm-11, .col-md-11 { width: 91.66666666666666%; }
    .col-sm-10, .col-md-10 { width: 83.33333333333334%; }
    .col-sm-9, .col-md-9 { width: 75%; }
    .col-sm-8, .col-md-8 { width: 66.66666666666666%; }
    .col-sm-7, .col-md-7 { width: 58.333333333333336%; }
    .col-sm-6, .col-md-6 { width: 50%; }
    .col-sm-5, .col-md-5 { width: 41.66666666666667%; }
    .col-sm-4, .col-md-4 { width: 33.33333333333333%; }
    .col-sm-3, .col-md-3 { width: 25%; }
    .col-sm-2, .col-md-2 { width: 16.666666666666664%; }
    .col-sm-1, .col-md-1 { width: 8.333333333333332%; }

    .container-fluid { width: 960; padding: 25px 35px 0px 35px; }

    .job-row{ padding-top: 2px; padding-bottom: 2px;}
    .artExp:last-child>div.job-row { border: none; }
    .job-top { }
    .job-bottom { }
    .job-company { font-family: 'OpenSans-Bold'; font-size: 14px; }
    .job-title { font-family: 'OpenSans-Regular'; font-size: 14px; }
    .job-date { }
    .job-ul { list-style-type:none; }
    .job-li { font-size: 13px; }

    div.row-skillsets:last-child>article.art-skillset>ul { margin-bottom: 0; }
}
